.logo {
    width: 65px;
    height: auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    min-width: 250px; /* ここで幅を指定 */
    flex: 1; /* 横に並んだ際に均等に伸びる */
}

#comparison-wrapper {
    flex: 1;
    min-width: 500px;
}

#comparison-form .form-section {
  width: 220px;
}

#weather-widget {
  width: 280px;
  background-color: #f9f9f9;
}

.button-section {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#result {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.bg-sunny {
    background-color: #ffe57f; /* 明るい黄色 */
}

.bg-rainy {
    background-color: #a2d4f1; /* 雨っぽい青 */
}

.bg-cloudy {
    background-color: #dcdcdc; /* グレー調 */
}

.bg-default {
    background-color: #f5f5f5;
}

.advice-box {
    background-color: #f0f8ff;
    border-left: 5px solid #007bff;
    font-size: 1rem;
}

.hover-icon {
  transition: transform 0.3s ease;
}

a:hover .hover-icon {
  transform: scale(1.2);
}

body {
  background-color: #d2f4f5; 
  padding-top: 40px;
  padding-bottom: 20px;
}

.card-section {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}
#navbar {
    background-color: #d2f4f5; 
}
