.logo {
    width: 120px;
    height: auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    min-width: 300px; /* ここで幅を指定 */
    flex: 1; /* 横に並んだ際に均等に伸びる */
}
#comparison-form input,
#comparison-form select {
    margin-bottom: 12px;
}